.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 470px) {

  .btn_me {
    font-size: 5px;
    width: fit-content;
  }

  .media-size {
    font-size: 12px;
  }

  .btn_me {
    font-size: 2px;
    margin: 0;
    padding: 0;
  }

}


.btn_me {
  font-size: 0px;
  background-color: aqua;
}

.bt {
  text-align: right;
}